.header,
main .sidebar {
    background-color: white;
}

.header {
    height: calc(4rem - 2px);
    padding: 0 2rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #EEEEEE;
}

.header>h1 {
    font-size: 1rem;
}

main {
    display: flex;
    height: calc(100vh - 4rem);
    overflow: hidden;
}

main .sidebar {
    width: 12.5rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .sidebar>button {
    width: 8rem;
    height: 2.75rem;
    border-radius: 5px;
    font-size: 0.75rem;
    font-weight: bold;
    border: none;
}

main .sidebar>button:not(:nth-child(1)) {
    margin-top: 1rem;
}

main .sidebar>button.text-form {
    background-color: #3FA3FF;
}

main .sidebar>button.mc-form {
    background-color: #3FFFBA;
}

main .sidebar>button:hover {
    cursor: pointer;
}

main .fb-form {
    width: calc(100vw - 9rem);
    margin: 0 1rem;
    overflow-y: auto;
}

main .fb-form .form-array {
    height: 100%;
}

.form-array .question-forms {
    background-color: white;
    padding: 142px;
    margin-top: 1rem;
    /* min-height: 24rem; */
}

.form-array .question-forms>.question-input {
    margin-left: 0.5rem;
    border: none;
}

.form-array .question-forms>.question-input:focus {
    outline: none;
}

.form-array .question-forms>.question-no,
.form-array .question-forms>.question-input {
    font-size: 1.5rem;
    font-weight: bold;
}

.form-array .question-forms>.answer-input {
    font-size: 1.5rem;
    height: 3rem;
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(63, 162, 255, 0.6);
}

.form-array .question-forms>.answer-input::placeholder {
    color: rgba(63, 162, 255, 0.6);
}