<h1>Employee Record</h1>

<form #myForm="ngForm" (ngSubmit)="save(myForm)">
    <label for="id">Id:</label>
    <input type="text" name="id" [(ngModel)]="formData.id">
    <br>

    <label for="name">Name:</label>
    <input type="text" name="name" [(ngModel)]="formData.name">
    <br>

    <label for="dept">Dept:</label>
    <input type="text" name="dept" [(ngModel)]="formData.dept">
    <br>

    <button type="submit">Submit</button>
</form>

<div>
    <ul>
        <li *ngFor="let emp of employees">
            {{ emp }}
        </li>
    </ul>
</div>