<!-- multiple choice, text input, rating scale, etc. -->

<!-- make a button that will open the floating form builder interface -->

<button type="button" (click)="toggleFormBuilder()">Form Builder</button>
<app-form-builder *ngIf="showForm" (createQuestionForm)="createQuestionForm($event)"></app-form-builder>

<!-- NGfor to generate the list of questions from the survey form array -->

<form [formGroup]="surveyForm" (ngSubmit)="formTest()">
    <div formArrayName="questionForms">
        <div *ngFor="let q of questionForms.controls; let i = index" [formGroupName]="i">
            <ng-container *ngIf="q.value['answerInputType'] == 'text'; else radio">
                <label for="qText">{{ q.value['question'] }}</label>
                <input type="text" formControlName="answer">
            </ng-container>
            <ng-template #radio>
                <ng-container>
                    <label for="qRadio">{{ q.value['question'] }}</label>
                    <input type="radio" name="choices">
                    <label for="choices">{{ q.value['choices'].choiceA }}</label><br>

                    <input type="radio" name="choices">
                    <label for="choices">{{ q.value['choices'].choiceB }}</label><br>

                    <input type="radio" name="choices">
                    <label for="choices">{{ q.value['choices'].choiceC }}</label><br>

                    <input type="radio" name="choices">
                    <label for="choices">{{ q.value['choices'].choiceD }}</label><br>
                </ng-container>
            </ng-template>
        </div>
        <button type="submit">Submit</button>
    </div>
</form>