<!-- multiple choice, text input, rating scale, etc. -->

<!-- make a button that will open the floating form builder interface -->

<button type="button" (click)="showFormBuilder()">Form Builder</button>
<app-form-builder *ngIf="showForm" (createQuestionForm)="createQuestionForm($event)"></app-form-builder>

<!-- NGfor to generate the list of questions from the survey form array -->

<div [formGroup]="surveyForm">
    <div formArrayName="questionForms">
        <div *ngFor="let q of questionForms.controls">
            <p>
                {{q.value | json}}
            </p>
        </div>        
    </div>
</div>